## Deliverable 2. Create a Customer Travel Destinations Map.

In [45]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [46]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Axim,GH,4.8699,-2.2405,76.96,89,92,5.57,light rain
1,1,Saint Anthony,US,45.0205,-93.2180,46.78,88,1,0.00,clear sky
2,2,Rikitea,PF,-23.1203,-134.9692,75.24,82,99,16.11,light rain
3,3,Karema,TZ,-6.8205,30.4389,74.23,71,70,4.59,light rain
4,4,Waverley,ZA,-25.7023,28.2591,64.53,78,0,4.27,clear sky

In [47]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is your preferred minimum temperature for your vacation? '))
max_temp = float(input('What is your preferred maximum temperature for your vacation? '))

What is your preferred minimum temperature for your vacation? 65
What is your preferred maximum temperature for your vacation? 75

In [73]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_filter_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
city_filter_df

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Karema,TZ,-6.8205,30.4389,74.23,71,70,4.59,light rain
8,8,Mataura,NZ,-46.1927,168.8643,74.32,39,78,4.18,broken clouds
13,13,Bukama,CD,-9.2000,25.8500,68.70,93,12,2.82,light rain
17,17,Jimo,CN,36.3897,120.4622,65.98,55,2,2.24,haze
19,19,Bulungu,CD,-4.5500,18.6000,66.15,98,96,0.45,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
664,664,Sakaiminato,JP,35.5500,133.2333,66.18,52,75,8.05,broken clouds
676,676,Aswan,EG,24.0934,32.9070,74.50,31,0,6.91,clear sky
681,681,Ferkessedougou,CI,9.6000,-5.2000,73.08,89,49,3.89,scattered clouds
685,685,Jiangyin,CN,31.9282,120.3126,72.99,43,0,5.32,clear sky
689,689,Necochea,AR,-38.5473,-58.7368,65.03,74,4,14.00,clear sky

In [74]:
len(city_filter_df)

151

In [76]:
# 4 a. Determine if there are any empty rows.
city_filter_df.isnull().sum()

WeatherPy_Database     0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [77]:
# 4 b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_filter_df = city_filter_df.dropna()
city_filter_df

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Karema,TZ,-6.8205,30.4389,74.23,71,70,4.59,light rain
8,8,Mataura,NZ,-46.1927,168.8643,74.32,39,78,4.18,broken clouds
13,13,Bukama,CD,-9.2000,25.8500,68.70,93,12,2.82,light rain
17,17,Jimo,CN,36.3897,120.4622,65.98,55,2,2.24,haze
19,19,Bulungu,CD,-4.5500,18.6000,66.15,98,96,0.45,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
664,664,Sakaiminato,JP,35.5500,133.2333,66.18,52,75,8.05,broken clouds
676,676,Aswan,EG,24.0934,32.9070,74.50,31,0,6.91,clear sky
681,681,Ferkessedougou,CI,9.6000,-5.2000,73.08,89,49,3.89,scattered clouds
685,685,Jiangyin,CN,31.9282,120.3126,72.99,43,0,5.32,clear sky
689,689,Necochea,AR,-38.5473,-58.7368,65.03,74,4,14.00,clear sky

In [78]:
len(city_filter_df)

151

In [83]:

# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Karema,TZ,74.23,light rain,-6.8205,30.4389,
8,Mataura,NZ,74.32,broken clouds,-46.1927,168.8643,
13,Bukama,CD,68.70,light rain,-9.2000,25.8500,
17,Jimo,CN,65.98,haze,36.3897,120.4622,
19,Bulungu,CD,66.15,overcast clouds,-4.5500,18.6000,
...,...,...,...,...,...,...,...
664,Sakaiminato,JP,66.18,broken clouds,35.5500,133.2333,
676,Aswan,EG,74.50,clear sky,24.0934,32.9070,
681,Ferkessedougou,CI,73.08,scattered clouds,9.6000,-5.2000,
685,Jiangyin,CN,72.99,clear sky,31.9282,120.3126,
689,Necochea,AR,65.03,clear sky,-38.5473,-58.7368,

In [84]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key }

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():

# 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f"{lat},{lng}"
    
# 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

# 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [81]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

WeatherPy_Database     0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [63]:
hotel_df = city_filter_df.dropna()

hotel_df

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Axim,GH,4.8699,-2.2405,76.96,89,92,5.57,light rain
2,2,Rikitea,PF,-23.1203,-134.9692,75.24,82,99,16.11,light rain
3,3,Karema,TZ,-6.8205,30.4389,74.23,71,70,4.59,light rain
8,8,Mataura,NZ,-46.1927,168.8643,74.32,39,78,4.18,broken clouds
9,9,Airai,TL,-8.9266,125.4092,81.18,38,99,2.15,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
685,685,Jiangyin,CN,31.9282,120.3126,72.99,43,0,5.32,clear sky
686,686,Parana,AR,-31.7320,-60.5238,76.57,68,6,10.04,clear sky
687,687,Balbalan,PH,17.4414,121.2019,75.25,62,59,4.52,broken clouds
689,689,Necochea,AR,-38.5473,-58.7368,65.03,74,4,14.00,clear sky
693,693,Gushikawa,JP,26.3544,127.8686,79.83,54,25,2.77,scattered clouds

In [64]:
# 8 a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8 b. Export the City_Data into a csv

hotel_df.to_csv(output_data_file, index_label="City_ID")

In [65]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [66]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [85]:
# 11 a. refactor map code to create a marker layer map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11 b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))